<!DOCTYPE html>
<html>
  <head>
    <title>Django Wrapper | FusionCharts</title>
    {% load static %}
    <script
      type="text/javascript"
      src="{% static 'fusioncharts/fusioncharts.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'fusioncharts/themes/fusioncharts.theme.carbon.js' %}"
    ></script>
	
	<style>

    "chart": {
        "borderColor": "#666666",
        "borderThickness": "40",
        "borderAlpha": "80"
    }

	</style>
  </head>
  <body>
    <!-- FusionCharts will render here-->
    <center><div id="chart-1"></div></center>
    <!-- dumping JavaScript code here -->
    {{ output|safe }}
  </body>
</html>
