<!DOCTYPE html>
<html>
  <head>
    <title>Django Wrapper | FusionCharts</title>
    {% load static %}
    <script
      type="text/javascript"
      src="{% static 'fusioncharts/fusioncharts.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'fusioncharts/themes/fusioncharts.theme.ocean.js' %}"
    ></script>
	
  </head>
  <body>
    <!-- FusionCharts will render here-->
    <center><div id="chart-1"></div></center>
    <!-- dumping JavaScript code here -->
    {{ output|safe }}
  </body>
</html>
